div.slider3{
    width: 100%;
    height: 400px;


}
div.slider3>h2{
    width: 100%;
    height: 90px;
    font-family: yekan;
    font-size: 23px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-top: 50px;
}

